* {
	transition: background-color 0.3s ease-in-out, color 0.1s ease-in-out;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input,
button {
	&:focus {
		border: none;
		outline: none;
	}
}

svg {
	fill: currentColor;
}
