.hover\:bg-white-10:hover {
	background-color: rgba(white, 0.1);
}
.hover\:bg-white-20:hover {
	background-color: rgba(white, 0.2);
}
.box-orient-vertical {
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
