:root {
	--tw-bg-primary: #15202b;
	--tw-bg-secondary: #192734;
	--tw-bg-secondary-2: #253341;

	--tw-text-primary: #ffffff;
	--tw-text-secondary: rgb(136, 153, 166);

	--tw-accent: #1da1f2;
	--tw-placeholder: #8899a6;

	--tw-border: #38444d;

	--tw-hover: rgba(29, 161, 242, 0.1);
}
