:root {
	--yt-bg-primary: #181818;
	--yt-bg-secondary: #202020;
	--yt-bg-secondary-2: #373737;

	--yt-text-primary: #ffffff;
	--yt-text-secondary: #aaaaaa;
	--yt-text-disabled: #717171;

	--yt-placeholder-primary: #888888;

	--yt-border-primary: #303030;
	--yt-border-secondary: #373737;
	--yt-border-secondary-2: #4b4b4b;
}
